* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

.lt-ie8 {
  behavior: url(/css/boxsizing.htc);
}

body {
  font: 16px Helvetica, sans-serif;
  line-height: 1.5em;
}

a {
  color: #333;
  text-decoration: none;
  border-bottom: 1px dotted #999;
}

a:hover {
  border-bottom-style: solid;
  color: black;
}

#wrapper {
  margin: 30px auto 50px auto;
  max-width: 700px;
  padding: 0 30px;
}

#name {
  border-bottom: 1px solid #CCC;
  font-size: 48px;
  line-height: 1em;
  padding-bottom: 16px;
}

#contact-info dt {
  display: block;
  float: left;
  height: 24px;
  text-indent: -99999px;
  width: 16px;
}

#contact-info dd {
  margin: 0 24px;
}

#contact-info #address  { background: url(../img/address.png)  center center no-repeat; }
#contact-info #cell     { background: url(../img/cell.png)     center center no-repeat; }
#contact-info #email    { background: url(../img/email.png)    center center no-repeat; }
#contact-info #github   { background: url(../img/github.png)   center center no-repeat; }
#contact-info #linkedin { background: url(../img/linkedin.png) center center no-repeat; }

#intro {
  font-family: Georgia, serif;
  font-style: italic;
}

#main p {
  margin: 0 0 1em 0;
}

#main section {
  margin: 20px 0;
  overflow: hidden;
}

#main h1 {
  border-bottom: 1px solid #CCC;
  font-size: 21px;
  padding: 0 0 6px 32px;
}

#istruzione h1 { background: url(../img/istruzione.png) top left no-repeat; }
#esperienza h1 { background: url(../img/esperienza.png) top left no-repeat; }
#competenze h1 { background: url(../img/competenze.png) top left no-repeat; }
#lingue     h1 { background: url(../img/lingue.png)     top left no-repeat; }

#main dl {
  margin: 0;
}

#main dt {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: .5em;
}

#main dd {
  margin: 0 0 1em 0;
}
